.carouselwidth{
    width: 65%;
}

.logo img{
    width: 5em;
}
.gmaps{
    text-align: center;
    border: 1px solid blue;
    background-image: linear-gradient(rgb(62, 62, 139) , black);
    padding:1em;
    margin: 0 auto;
    width: 80%;
    color:white;
}
.gmaps img{
    float:left;
    width: 4%;
    height: 2.5%;
    padding:1%;
}
.gmaps p{
    float:left;
    padding: 1%;
}
table {
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: center;
    padding: 1%;
  }
  
  tr:nth-child(even) {
    background-color: grey;
    color:white;
  }
