
.foot{

    text-align: center;
    font-size: 0.75em;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    min-height: 2vh;
    position: absolute;
    background-color: black;
    color:white;
    padding:25px;
}
main{
   padding-top: 3em;
   padding-bottom: 5em;
   position: relative;
   min-height: 95vh;
}
header{
    min-height: 4vh;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
.selfie{
    display: inline-block;
}
.description{
    display: inline-block;

    margin-left: 2em;
}
.wrapper{
    text-align: center;
}
.description img{
    margin-left: 1em;
    margin-top:auto;
    width:2.5em;
}
.selfie img{
    width: 12em;
    margin-top: 2em;

}
.logo img{
    float:left;
    width: 5em;
}
.heading{
    position:relative;
    text-align: center;
    width:100%;

}

.heading img{
    width: 100%;
    left:0;
    right:0;
    margin-top:3%;
}
.title{
    color:white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    
}

.button{
    border: none;
    background-color: crimson;
    padding:0.5em;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 2em;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color:white;
}
.CV{
    
    justify-content: space-around;
    border: 5px solid black;
    border-radius: 25px;
    width: 50%;
    padding: 2em;
}
.titleCV{
    text-align: center;
}

.container{
    display:flex;
    justify-content: center;
}
.rightsideCV img{
    justify-content: center;
    text-align: center;
}
.gmaps{
    text-align: center;
    border: 1px solid blue;
    background-image: linear-gradient(rgb(62, 62, 139) , black);
    padding:1em;
    margin: 0 auto;
    width: 80%;
    color:white;
}
.gmaps img{
    float:left;
    width: 4%;
    height: 2.5%;
    padding:1%;
}
.gmaps p{
    float:left;
    padding: 1%;
}
.side{
    display: block;
}
.form{
    margin-left: 20%;
}
.titleContactMe{
    margin-left: 20%;
}
.form label{
    font-weight: bold;
    padding: .5%;
}
.form input{
    margin-bottom: 1%;
}
.form textarea{
    width: 35%;
}
table {
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: center;
    padding: 1%;
  }
  
  tr:nth-child(even) {
    background-color: grey;
    color:white;
  }
  .con .imgdiv{
    float:left;
    width: 30%;
  }
  .textHobby{
    float:right;
    padding: 2%;
    width: 50%;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 1%;
  }
